
<div class="container text-center">
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Currency</th>
        <th>Sell</th>
        <th>Buy</th>
        <th>Change</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>PhoboCoin</td>
        <td>1.2</td>
        <td>1.1</td>
        <td>%0.0</td>
      </tr>
    </tbody>
  </table>
</div>
