

<div class="my-3 p-3 bg-white rounded shadow-sm">

        <div class="row">
            <div class="featured-news col-md-7 col-xs-5 col-lg-7 col-sm-5 view view-first text-center">
                <div class="super-form to-center">
                    <%- include('CurrencyScreen.ejs') %>
                </div>
            </div>
        </div>
    </div>
