<div class="my-3 p-3 bg-white rounded shadow-sm tocenter">
        <div class="row">
            <div class="container text-center">
              <table class="table table-stripped table-hover" id="buyTable">
                <thead>
                  <tr>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>With</th>
                    <th>Cost</th>
                    <th>Exchange</th>
                  </tr>
                </thead>
                <tbody id="buyTableBody">

                </tbody>
              </table>
            </div>
        </div>
</div>
<script>
    async function retrieveValues() {
        const Currency = Parse.Object.extend("Currency");
        var query = new Parse.Query(Currency);
        const results = await query.find();
        var curElement = []
        for (let i = 0; i < results.length; i++) {
            object = results[i];
            $("#buyTableBody").append("<tr> <td>"+object.get("Name")+"</td>"+

            " <td class=''><input type='number' class='form-control form-control-sm amount' id='"+object.get("Name")+"' placeholder='Amount' min='0' value='0' step='0.01'/></td><td><select id='"+object.get("Name")+"' class='currs form-control form-control-sm'></select></td><td id='"+object.get("Name")+"' class='cost'>0</td> <td><button type='button' class='btn btn-primary buy' id='"+object.get("Name")+"' >Buy!</button></td></tr>")
            curElement.push(object.get("Name"))

        }
        $( ".currs" ).each(function( index ) {
            for(var i in curElement){
                if(curElement[i] != $(this).attr("id")){
                    $(this).append("<option value='"+curElement[i]+"'>"+curElement[i]+"</option>")
                }
            }
        });
        $(".currs").change(async function() {


            query = new Parse.Query(Currency);
            query.equalTo("Name", $(this).val())
            var curResult = await query.find();
            var sellValue = curResult[0].get("Buy")

            query = new Parse.Query(Currency);
            query.equalTo("Name", $(this).attr("id"))
            var curResult = await query.find();
            var buyValue = curResult[0].get("Sell")

            var cost = (parseFloat($(this).val()) * buyValue) / sellValue

            $(".cost#"+$(this).attr("id")).text(cost)
        })
        $( ".amount" ).change(async function() {
            if($(this).val() == ""){
                $(this).val(0)
            }
            query = new Parse.Query(Currency);
            query.equalTo("Name", $(this).attr("id"))
            var curResult = await query.find();
            var buyValue = curResult[0].get("Sell")

            query = new Parse.Query(Currency);
            query.equalTo("Name", $("select#"+ $(this).attr("id")).val())
            var curResult = await query.find();
            var sellValue = curResult[0].get("Buy")

            var cost = (parseFloat($(this).val()) * buyValue) / sellValue

            $(".cost#"+$(this).attr("id")).text(cost)
        });
        $(".buy").click(async function(){
            Parse.Cloud.run('buyCurrency', {
                "buyName": $(this).attr("id"),
                "sellName": $("select#"+$(this).attr("id")).val(),
                "buyAmount": parseInt($(".amount#"+$(this).attr("id")).val())
             } ).then(function(a) {
                alert(a)
            });
        })
    }
    retrieveValues()

</script>
