<html lang="en">
<%- include('parts/head.ejs') %>
<body class="index" id="page-top" cz-shortcut-listen="true">
    <!-- Navigation -->

    <%- include('parts/header.ejs') %>

    <!--<div class="bg"></div>-->
    <!--/*Slider Section*/-->

    <section class="container featured-news">
        <!--<div class="row">
            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                <span class="featured">Featured</span>
                <span class="new">New</span>
            </div>
            <div class="pull-right col-md-6 col-xs-6 col-sm-6 col-lg-6">
                <span class="pull-right explore-all">Explore All <i class="fa fa-chevron-right" aria-hidden="true"></i> </span>
            </div>
        </div>-->
        <div class="row">
            <div class="featured-news col-md-3 col-xs-6 col-lg-3 col-sm-4 view view-first text-center sidebar">
                <form>
                    <div class="form-group">
                      <label for="logusername">Username</label>
                      <input type="text" class="form-control" id="logusername" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                      <label for="logpass">Password</label>
                      <input type="password" class="form-control" id="logpass" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="featured-news col-md-7 col-xs-5 col-lg-7 col-sm-5 view view-first text-center">
                <div class="super-form to-center">
                    <form>
                        <div class="form-group">
                          <label for="regemail">Email address</label>
                          <input type="email" class="form-control" id="regemail" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                          <label for="regusername">Username</label>
                          <input type="text" class="form-control" id="regusername" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                          <label for="regpass">Password</label>
                          <input type="password" class="form-control" id="regpass" placeholder="Password">
                        </div>
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">I've read and accepted.</label>
                        </div>
                        <button type="submit" id="regButton" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

<!--
    <section class="container featured-news ">

        <div class="row">
            <div class="trending-product col-md-12 col-xs-12 col-lg-12 col-sm-12 ">
                Lorem Ipsum
                "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
                "Нет никого, кто любил бы боль саму по себе, кто искал бы её и кто хотел бы иметь её просто потому, что это боль.."
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fermentum maximus ante. Pellentesque ut justo a mauris sodales sodales ac vitae ipsum. Ut scelerisque semper aliquam. Integer mollis consequat massa. Praesent id tempor nulla. Cras egestas luctus nibh. Integer id tincidunt urna. Suspendisse facilisis feugiat mi sed egestas. Nulla vitae nunc imperdiet, suscipit metus pulvinar, tempor eros. Vestibulum libero odio, placerat eget mauris vitae, maximus ullamcorper tortor.

                In faucibus efficitur eros, vel elementum est tincidunt lobortis. Suspendisse semper pellentesque elit ac egestas. Vestibulum congue dictum egestas. In aliquet erat faucibus risus sodales, sed lacinia nunc interdum. In posuere sem eu laoreet dictum. Suspendisse ultricies nibh nibh, quis pulvinar purus ultricies a. Nunc ex sem, tincidunt et erat ullamcorper, cursus vestibulum eros. Praesent eget ipsum at lorem dapibus consectetur eget sed nulla. Etiam varius tortor quis blandit facilisis. Donec facilisis ac arcu sit amet feugiat. Donec varius ipsum mi, ut placerat dolor consequat quis.

                Maecenas pellentesque lobortis egestas. Aenean malesuada eros id ipsum pellentesque, in aliquam nunc volutpat. Sed ut lacus facilisis, semper nibh a, facilisis lacus. Sed ac commodo massa. Nulla a pharetra diam, non posuere lectus. Proin laoreet nunc erat, ac sollicitudin tortor pharetra at. Vestibulum massa lacus, consequat non felis id, iaculis ornare eros. Maecenas viverra dolor cursus nibh porttitor facilisis.

                In pharetra commodo mi, nec suscipit mauris placerat at. Donec aliquam accumsan orci. Etiam sed mauris mattis leo suscipit porttitor. In maximus dolor sed pulvinar laoreet. In at arcu ante. Nam eu purus eros. Vivamus eu purus iaculis, eleifend erat sed, congue massa. Integer convallis lorem a nibh imperdiet, ut suscipit velit efficitur. Mauris nec tortor sed nulla hendrerit aliquet sed sed nisl. Proin ante eros, accumsan non elementum ut, efficitur nec neque.

                Aenean rhoncus in leo vitae aliquet. Nam id dui eros. Phasellus rutrum, mauris quis consectetur convallis, elit est scelerisque eros, ut feugiat sapien odio non mauris. Etiam pellentesque urna auctor libero luctus commodo in vitae arcu. Etiam sem justo, lobortis sit amet velit ut, egestas finibus metus. Aenean tortor lacus, cursus eu hendrerit non, dapibus ut est. Nam rhoncus ac elit sed eleifend. Sed sed tortor luctus dui iaculis consequat. Fusce a iaculis enim, id hendrerit magna. Quisque non nunc varius, ultricies dolor ut, ullamcorper est. Suspendisse feugiat, ligula sit amet malesuada finibus, magna libero sodales libero, ultrices imperdiet lectus eros sed orci. Ut ornare massa at dui lacinia consequat. Maecenas luctus vulputate pretium. Integer non ante eget sapien viverra molestie et quis neque.

                Сгенерировано 5 абзацей, 410 слов, 2773 байтов Lorem Ipsum
            </div>
        </div>
    </section>
-->
<script>

$(document).ready(function(){
        $(document).on("click", "#regButton", function(e) {
          e.preventDefault();
          var email = document.getElementById('regemail').value;
          var password = document.getElementById('regpass').value;
          var uname = document.getElementById('regusername').value;


          var user = new Parse.User();
            user.set("username", uname);
            user.set("password", password);
            user.set("email", email);

            user.signUp(null).then(function(result) {
                alert("Registered!")

                Parse.User.logIn(uname, password).then(function(result) {
                    alert("Logged In!")
                }, function(error) {
                    alert(error)

                });
            }, function(error) {
                alert(error)

            });
        })
   })
</script>
    <%- include('parts/footer.ejs') %>
</body>
</html>
