<div class="my-3 p-3 bg-white rounded shadow-sm">
        <div class="row">
            <div class="featured-news col-md-3 col-xs-6 col-lg-3 col-sm-4 view view-first text-center sidebar">
                <form  action="/user/login" method="POST" id="loginForm">
                    <div class="form-group">
                      <label for="logusername">Username</label>
                      <input type="text" class="form-control" id="logusername" name="logusername" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                      <label for="logpass">Password</label>
                      <input type="password" class="form-control" id="logpass" name="logpass" placeholder="Password">
                    </div>
                    <button type="submit" id="loginButton" class="btn btn-primary">Login</button>
                    <br/>
                    <a href="#" class="logRegLink">Not Registered? Click To Register</a>
                </form>

                    <form  id="registerForm">
                        <div class="form-group">
                          <label for="regemail">Email address</label>
                          <input type="email" class="form-control" id="regemail" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                          <label for="regusername">Username</label>
                          <input type="text" class="form-control" id="regusername" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                          <label for="regpass">Password</label>
                          <input type="password" class="form-control" id="regpass" placeholder="Password">
                        </div>
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">I've read and accepted.</label>
                        </div>

                        <button type="submit" id="regButton" class="btn btn-primary">Register</button>
                        <br/>
                        <a href="#" class="logRegLink">Already Registered? Click To Login</a>
                    </form>
            </div>



            <div class="featured-news col-md-7 col-xs-5 col-lg-7 col-sm-5 view view-first text-center" style="border-left: 1px solid #888;">
                asd
            </div>
        </div>
    </div>

<script>

$(document).ready(function(){
        $(document).on("click", "#regButton", function(e) {
          e.preventDefault();
          var email = document.getElementById('regemail').value;
          var password = document.getElementById('regpass').value;
          var uname = document.getElementById('regusername').value;


          var user = new Parse.User();
            user.set("username", uname);
            user.set("password", password);
            user.set("email", email);


        })
        $(".logRegLink").on("click",function(e){
            $("#loginForm").slideToggle();
            $("#registerForm").slideToggle();
        })

   })

</script> 
