<!DOCTYPE html>
<html>
    <head>
        <% include parts/head %>
    </head>
    <body>
        <div class="to-center">
          <form action="/user/register" method="POST" >
            Username:<br>
            <input type="text" name="username" id="username" value="">
            <br>
            Password:<br>
            <input type="password" name="password" id="password" value="">
            <br>
            Email:<br>
            <input type="text" name="email" id="email" value="">
            <br><br>
            <input type="submit" value="Register">
          </form>
        </div>
        <% include parts/footer %>
    </body>
</html>
