<html lang="en">
<%- include('parts/head.ejs') %>
<body class="index bg-light" id="page-top" cz-shortcut-listen="true">

    <%- include('parts/header.ejs') %>

    <main role="main" class="container">



         <%- include(page, args) %>


   </main>

    <%- include('parts/footer.ejs') %>
</body>
</html>
