

body {
    overflow-x: hidden;
}
html, body{
  height: 100%;
}
body {
			/*background-image: url("/assets/images/bg.jpg") !important;
			background-position: center center !important;
			background-repeat: no-repeat !important;
			background-attachment: fixed !important;
			background-size: cover !important;
			background-color: #999 !important;*/
}

p {
    font-size: 14px;
}

    p.small {
        font-size: 16px;
    }

a,
a:hover,
a:focus,
a:active,
a.active {
    color: black;
    outline: none;
}


/*Media*/

.light{
    padding: 5px;
    background: rgba(250,250,250,0.95);
    color: #000;
    border-radius: 6px;
    border: 0px;
}

main{
    padding-top: 50px;
}
#registerForm{
    display: none;
}
.logRegLink{
    font-size:14px;
    margin-top: 10px;
}
.pull-right{
    text-align:right;
}
#economyTable tr{
    cursor: pointer;
}
