<footer class="container">
  <!--
    <div id="footer-top" class="row">
        <div id="footer-top-one" class="col-md-3 col-lg-3 col-sm-3 col-xs-12 ">
            <h3>Contact Us</h3>
            <p>132A Bridge Road Richmond VIC Australia.</p>
            <p><a href="tel:1300-132">Talk to us on 1300 132</a></p>
            <p><a href="mailto:info@interior.com">info@interior.com</a></p>
        </div>
        <div id="footer-top-two" class="col-md-5 col-lg-5 col-sm-5 col-xs-12 ">
            <h3>UseFul Information</h3>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 ">
                    <ul>
                        <li>Sales Terms</li>
                        <li>Customer Care</li>
                        <li>Delivery</li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 ">
                    <ul>
                        <li>Archıtect Accounts</li>
                        <li>Careers</li>
                        <li>Exchanges &amp; Returns</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="footer-top-three" class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">
            <h3>Let's stay ın touch!</h3>
            <p>
                Suscribe to know about our latest news, products and special offers just for suscribers.
            </p>
            <div class="input-group">
                <input type="text" placeholder="your email address" class="email-box">
            </div>
        </div>
    </div> -->
    <div id="footer-bottom" class="row">
        <div id="footer-bottom-one" class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">
            <p>
                © Copyright - yy && furrki 2018. ALL RIGHTS RESERVED.
            </p>
        </div>
        <div id="footer-bottom-two" class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-google-plus"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-linkedin"></i></a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-social btn-outline" href="#"><i class="fa fa-fw fa-dribbble"></i></a>
                </li>
            </ul>
        </div>
        <div id="footer-bottom-three" class="col-md-4 col-lg-4 col-sm-4 col-xs-12 ">
            <p>Term &amp; conditions / privacy policy &amp; cookies</p>
        </div>
    </div>
</footer>
