<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Chatter | A Chat Application</title>
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/parse/dist/parse.min.js"></script>
    <script>
      Parse.initialize("myAppId"); //PASTE YOUR Back4App APPLICATION ID
      Parse.javaScriptKey = "Allemetu"; //PASTE YOUR Javascript KEY
      Parse.serverURL = 'http://localhost:1337/parse'
      function float(any){
          return parseFloat(any).toFixed(2) * 1;
      }
    </script>
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500i" rel="stylesheet">


    <!--<script src="assets/js/slippry.min.js"></script>-->


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
